<!DOCTYPE html>
<html>
  <head>
    <% include ../common/common-head.ejs %>
    <link rel='stylesheet' href='/stylesheets/thread/thread.css' />
  </head>
  <body>
    <% include ../common/common-nav.ejs %>
    <article>
        <div id="thread">
            <p class="thread_title"><%= title %></p>
            <p class="thread_description"><%= description %></p>
            <p class="thread_res">投稿数　<%= res.length %></p>
        </div>
        <ul id="resList">
            <% var self = false %>
            <% for(var i=0, len=res.length; i<len; i++) { %>

                <% if(user_id == res[i].user_id) { %>
                    <% self = true %>
                <% } else { %>
                    <% self = false %>
                <% }  %>
                <li class="resList_each res" data-id="<%= res[i].res_id %>" data-favorite="<%= res[i].favorite %>" data-self="<%= self %>">
                        <p class="res_main"><%= res[i].body %></p>
                        <ul class="res_sub clearfix">
                            <li class="res_sub_name"><%= res[i].name %></li>
                            <li class="res_sub_time"><%= res[i]['DATE_FORMAT(res.created, "%Y-%m-%d %k:%i:%s")'] %></li>
                            <li class="res_sub_favorite_num"><%= res[i].favoriteNum %></li>
                            <li class="res_sub_favorite">
                                <% if (res[i].favorite) { %>
                                    <img class="img_favorite" src="/images/9_heart_fill.png">
                                <%  } else {  %>
                                    <img class="img_favorite" src="/images/8_heart_stroke.png">
                                <%  } %>
                            </li>
                            <% if (self) { %>
                                <li class="res_sub_del"><img class="img_del" src="/images/7_batsu.png"></li>
                            <% } %>
                        </ul>
                </li>
            <% } %>
        </ul>
        <input id="loginStatus" type="hidden" name="loginStatus" value="<%= loginStatus %>">
        <% if (loginStatus) { %>
            <form method="post" action="/thread/thread">
                <input id="thread_id" type="hidden" name="thread_id" value="<%= thread_id %>">
                <input type="hidden" name="title" value="<%= title %>">
                <textarea class="resForm" placeholder="Type your comments" name="body" cols="40" rows="5"></textarea><br>
                <button class="resBtn" type="submit" name="submit" value="POST">投稿</button>
            </form>
        <% } %>
    </article>
    <% include ../common/common-foot.ejs %>
    <script type="text/javascript" src="/javascripts/thread/thread.js"></script>
  </body>
</html>
