<!DOCTYPE html>
<html>
  <head>
    <% include ../common/common-head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../common/common-nav.ejs %>
    <p><%= title %></p>
    <p>投稿数　<%= res.length %></p>
    <p><%= description %></p>
    <ul id="resList">
        <% var self = false %>
        <% for(var i=0, len=res.length; i<len; i++) { %>

            <% if(user_id == res[i].user_id) { %>
                <% self = true %>
            <% } else { %>
                <% self = false %>
            <% }  %>
            <li class="resList_each" data-id="<%= res[i].res_id %>" data-favorite="<%= res[i].favorite %>" data-self="<%= self %>">
                <div><%= res[i].body %></div>
                <div class="resList_name">作成者:<%= res[i].name %></div>
                <% if (self) { %>
                    <div class="resList_del">削除</div>
                <% } %>
                <div class="resList_favorite">いいね</div>
                <div class="resList_favoriteNum"><%= res[i].favoriteNum %></div>
            </li>
        <% } %>
    </ul>
    <form method="post" action="/thread/thread">
        <input id="thread_id" type="hidden" name="thread_id" value="<%= thread_id %>">
        <input type="hidden" name="title" value="<%= title %>">
        <input type="text" name="body">
        <input type="submit" name="submit" value="POST">
    </form>
    <% include ../common/common-foot.ejs %>
    <script type="text/javascript" src="/javascripts/thread/thread.js"></script>
  </body>
</html>
