<!DOCTYPE html>
<html>
  <head>
    <% include ../common/common-head.ejs %>
    <link rel='stylesheet' href='/stylesheets/user/mypage.css' />
  </head>
  <body>
    <% include ../common/common-nav.ejs %>
    <article>
        <p id="userName"><%= userName.name %>さんのマイページ</p>
        <p class="title">コメント履歴</p>
        <ul id="resList">
        <% for (var i=0, len=resList.length; i<len; i++) { %>
            <a href="/thread/thread?thread_id=<%= resList[i].thread_id %>">
            <li class="resList_each res">
                <ul class="res_sub clearfix">
                    <li class="res_sub_name">掲示板名:&nbsp;<%= resList[i].title %></li>
                    <li class="res_sub_time"><%= resList[i]['DATE_FORMAT(res.created, "%Y-%m-%d %k:%i:%s")'] %></li>
                </ul>
                <p class="res_main"><%= resList[i].body %></p>
            </li>
            </a>
        <% } %>
        </ul>
        <% if (ownUser_id === userName.user_id ) { %>
            <form method="post" action="/logout">
                <button class="logoutBtn" type="submit" name="submit" value="POST">ログアウト</button>
            </form>
        <% } %>
    </artilce>
    <% include ../common/common-foot.ejs %>
  </body>
</html>
